.error{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #161516;
}
#title{
    font-size: 44px;
}
#text{
    font-size: 18px;
    color: rgb(134, 134, 134);
}